// app global css in SCSS form

$grey1: #e6e8e8;
$darkborder: #cbccce;

.text-brand {
    color: #5e3267;
}
.bg-brand {
    background: #5e3267;
}

body {
  color: #585858;
}
h1 {
    font-size: 32px;
}
#q-app {
    background: $grey1;
}
#app {
    background-image: url('../statics/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.q-layout__section--marginal {
    background: #19465073;
}
.q-toolbar {
    min-height: 75px;
    padding: 0 30px;
}
.item-container {
	//width: 340px;
	//transition: width .35s ease-in-out;	
	position: relative;
	.item-edit {
		color: white;
		position: absolute;
		bottom: 20px;
		left: 8px;
		width: 30px;
		height: 30px;
		background: rgba(0,0,0,0.7);
		border-radius: 50%;
		text-align: center;
		line-height: 30px;
		display: none;
    }
    .item {
        width: 280px;
        height: 90px;
        margin: 20px;
        flex: 0 0 280px;
        background-image:linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,.25));
        border-radius: 6px;
        padding: 15px;
        padding-right: 55px;
        //border: 2px solid rgba(0,0,0,0.4);
        //box-shadow: 0 0 15px 1px rgba(35, 35, 35, 0.44);
        color: white;
        overflow: hidden;
        position: relative;
        transition: all .35s ease-in-out;
        outline: 1px solid transparent;
        display: flex;
        align-items: center;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
        &:after {
            content: "";
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            position: absolute;
            right: -48px;
            top: 0px;
            background: rgba(255,255,255,0.1);
            box-shadow: 0 0 40px 0px rgba(0,0,0,0.2);
        }
        .link {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            text-align: right;
            line-height: 90px;
            font-size: 24px;
            z-index: 1;
            padding-right: 10px;
        }
        .title {
            font-size: 16px;
        }
        .details {
            width: 100%;
        }
        .app-icon {
            max-width: 60px;
            margin-right: 15px;
        }    
    }
    
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

#app {
    .q-page {
        justify-content: center;
        align-items: center;
        flex: 1;
        position: relative;
        flex-wrap: wrap;
        align-content: center;
    }
}
body.desktop .q-hoverable > .q-focus-helper {
    
}

body.desktop .q-hoverable:hover > .q-focus-helper {
    
}

.q-item.q-router-link--active {
    background: #ffffff21;
    .q-focus-helper {
    }
}
.q-drawer--left.q-drawer--bordered {
    // border-right: 2px solid rgb(0, 0, 0);
}

.q-drawer {
    //background: linear-gradient(115deg, #7bb1ac, #344765);
    //background: #204158;
    background: #5e3267;
    .q-drawer__content {
        box-shadow: inset 35px 0px 35px -35px rgba(0,0,0,0.45), inset -35px 0px 35px -35px rgba(0,0,0,0.45);
    }
  .q-item__label--header {
    font-size: 22px;
    padding: 12px 20px;
    border-bottom: 1px solid #00000014;
    min-height: 77px;
    align-items: center;
    display: flex;
  }
  .q-item__label {
    font-weight: normal;
    color: #ffffffbd;
  }
  .q-item {
    padding: 20px 35px;
  }
  .q-item__label + .q-item__label {
    margin-top: 2px;
    color: #ffffff61;
    font-weight: normal;
  }
  .q-icon, .material-icons {
      color: #ffffff8c;
  }
  .q-drawer--left.q-drawer--bordered {
    border-right: 1px solid $darkborder;
  }

  .q-router-link--exact-active {
    .material-icons {
        color: #fff;
    }
    .q-item__label {
        color: #fff;
    }
  }
}

.searchbox {
  width: 220px;
  margin-left: 30px;
  border-left: 1px solid $darkborder;
  padding-left: 30px;
}

.add-new {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 50px auto 0;
    border: 1px solid #00000014;
    .item {
        padding: 30px;
        flex: 1;
    }
}

.page-container {
    width: 100%;
    padding: 0 40px;
}
.alt-header {
    background: $grey1;
    color: #505050;
}

div.create {
	display: flex;
	flex-wrap: wrap;
	.input {
		width: 28%;
        margin: 20px;
        &.double {
            width: calc(56% + 40px);
        }
		label:not(.switch) {
			width: 100%;
			font-size: 13px;
			margin-bottom: 15px;
			display: block;
			font-weight: 300;
		}
		input, select {
			width: 100%;
		}
	}
}

.list-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    .list-item {
        align-items: center;
        color: #000000b5;
        font-weight: bold;
        perspective: 1000px;
        min-height: 92px;
        transition: all 0.6s;
        // position: relative;
        &.edit {
          z-index: 5;
          .list-item-inner {
            transform: rotateX(180deg);
          }
          .list-item-back {
            height: auto;
          }
        }
        .icon {
          padding:15px 30px;
          .app-icon {
            max-width: 60px;
            display: block;
            border-radius: 50%;
          }
        }
        .name {
            width: 100%;
            max-width: 300px;
            padding: 0 15px 0 0;
            display: flex;
            flex-direction: column;
            .tags {
              font-weight: normal;
              font-size: 12px;
              color: #9c9c9c;
            }
            a {
              text-transform: uppercase;
              color: #9c9c9c;
              font-size: 10px;
            }
        }
        .pinned {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            color: #9c9c9c;
            font-weight: normal;
            i {
                font-size: 24px;
                color: #505050;
            }
        }
        .actions {
          margin-left: auto;
          display: flex;
          flex-direction: column;
          padding: 0 15px;
        }
    }
    .list-item-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }
    .list-item-front, .list-item-back {
      position: absolute;
      left:0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: flex;
      border-bottom: 1px solid #0000000f;
    }
    .list-item-front {
        background: #fcfcfc;
        align-items: center;
        min-height: 92px;
    }
    .list-item-back {
      background-color: #eaeaea;
      min-height: 92px;
      color: #505050;
      transform: rotateX(180deg);
      padding: 5px 20px;
      justify-content: center;
      .confirmation {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
      }
      .inner {
      }
    }
}
.no-items {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    color: #888888;
    border: 1px solid #ccc;
}
.q-field--filled .q-field__control {
    border-radius: 4px!important;
}
.list-items {
.q-tab-panel {
    padding: 0;
}
.q-tab__label {
    line-height: 75px;
    color: #505050;
    &:last-child {
        border-right: 0;
    }
}
.q-tab {
    border-right: 1px solid #e4e4e4;
    &:last-child {
        border-right: 0;
    }
}
.q-tabs {
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;

}
.q-tab__indicator {
    height: 3px;
}
.q-tab-panels {
    background: none;
}
}

.q-field--outlined .q-field__control:before {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.q-field--outlined .q-field__control:hover:before {
    border-color: #3d8ad8;
}
.q-field--outlined.q-field--focused .q-field__control:after {
    border-color: #3d8ad8;
}
.q-field--outlined {
    background: #f7f7f7;
}
.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 35px;
    color: #505050;
    background: $grey1;
    .actions {
        display: flex;
        height: 100%;
        .q-btn__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            color: #5050509e;
            line-height: 1.6;
            i {
                font-size: 24px;
                color: #505050;
            }

        }
        .q-btn {
            border-left: 1px solid #ccc;
        }
    }
}
.q-drawer {
    .q-tab-panel {
        padding: 0;
    }
    .q-tab-panels {
        background: none;
    }
    .q-tab--active {
        background: #ffffff21;
        .q-tab__label {
            color: #fff;
        }
    }
    .user-avatar {
        box-shadow: 0 0 30px 15px #5e3267;
    }
}
.q-tab--active .q-tab__indicator {
    color: #ffffff6e !important;
}

.user-avatar {
    .q-avatar__content {
        position: relative;
        background: #86658d;
        img {
            width: auto;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            position: absolute;
            padding: 6px;
        }
    }
}


.bigtab {
    &:first-child {
        // border-right: 1px solid $grey1;
    }
    .q-tab__label {
        line-height: 67px;
        color: #ffffff61;
    }
}

.user_account {
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    .bg-image {
        filter: grayscale(100%) blur(20px) opacity(15%) ;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(-50%);
    }
    img {
        display: block;
        cursor: pointer;
    }
}